
<div class="d-none d-lg-block">
    <div class="border border-info p-4 rounded-3" id="homepage-box-right" style="background-color: #FFFFFF; border-width: 4px !important;border-style: double !important; border-radius: 10px !important">
    
    <p class="small"><b>The Tacoma Community History Project</b> is a collection of oral histories exploring South Puget Sound.
    
    {% include feature/button.html text="Learn more about the project" color="info" link="about"  centered="true"%}
    
   <br> Each circle on the map represents an oral history. <b>Zoom in and out to explore.</b></p>
    
    
    </div>
    </div>
